[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
	shallow = true


[submodule "modules/libsamplerate"]
	path = modules/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "modules/anira"]
	path = modules/anira
	url = https://github.com/anira-project/anira.git
